@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.nav-btns{
    margin-left: 50%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'Poppins', sans-serif ;
}

h1{
    font-size: 2.5rem;
    font-weight: 700;
}

h2{
    font-size: 1.8rem;
    font-weight: 600;
}
h3{
    font-size: 1.5rem;
    font-weight: 800;
}
h4{
    font-size: 1.2rem;
    font-weight: 600;
}
h5{
    font-size: 1rem;
    font-weight: 400;
}
h6{
    color: #d8d8d8;
}

button{
    font-size: .8rem;
    font-weight: 900;
    outline: none;
    border: none;
    background-color: #1d1d1d;
    color: aliceblue;
    padding: 14px 30px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.5s ease;
}

button:hover{
    color: rgb(207, 147, 35);
    background-color: dimgrey;
}

.navbar{
    font-size: 16px;
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
    top: 0;
    left: 0;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.navbar-light .navbar-nav .nav-link{
    padding: 0 20px;
    color: black;
    transition: 0.4 ease;

}


.navbar-light .navbar-nav .nav-link:hover,
.navbar i:hover,
.navbar-light .navbar-nav .nav-link.active
.navbar i:hover{
    color:#5c2207;

}

.navbar i{
    font-size: 1.2rem;
    padding: 0 0.7px;
    transition: 0.4s ease;
    font-weight: 500;
    cursor: pointer;
    margin-left: 5px;
}

@media only screen and (max-width:900px){

    .nav-btns{
        margin: 10px;
    }

    .nav-btns ul{
        margin: 1rem;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
    }

    .nav-btns ul .fa-solid{
        margin: 20px 5px 10px 20px;

    }
}

#home{
    background-image: url('../imgs/4.jpg');
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position-x: 0px;
    background-position-y: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#home span{
    color:  #5c2207;
}

#home .container{
    padding: 25%;
    margin-top: 137px;
}

#new .one img{
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: none;
    background-size: cover;
}

#new .one{
    position: relative;
}

#new .one .details{
    position: absolute;
    top: 0;
    left: 0;
    color: burlywood;
    font-weight: bold;
    transition: .4s ease;
    opacity: .5;
    background-color: rgb(1,1,1);
    width: 100%;
    height: 100%;
}

#new .one .details:hover{
    background-color: darkgoldenrod;
}

#new .one:nth-child(1) .details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
}

#new .one:nth-child(2) .details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#new .one:nth-child(3) .details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    text-align: end;
}

/* for the products  */
.product{
    cursor: pointer;
    margin-bottom: 2rem;

}

.product img{
    transition: 0.3s all
}

.product:hover img{
    opacity: .7;
}

hr{
    width: 5%;
    height: 3px !important;
    opacity: 1 !important;
    background-color: #fb774b;
    margin: 0 auto;
}

.star{
    padding: 10px 0;
}

.star i{
    font-size: .9rem;
    color: goldenrod;
}

#banner{
    background-image: url('../imgs/banner.webp');
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position-x: center;
    background-position-y: 80px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#banner h1{
    color: coral;
}

#banner button{
    background-color: orange;
}

#banner button:hover{
    background-color: black;
}

footer{
    background-color: #222222;
}

footer h5{
    color: #d8d8d8;
    font-weight: 700;
    font-size: 1.2rem;

}

footer li {
    padding-bottom: 4px;

}

footer li a{
    font-size: .8rem;
    color: #999;
    text-decoration: none;
}

footer li a:hover{
    color: #d8d8d8;
}

footer .copyright a{
    color: black;
    height: 40px;
    width: 40px;
    background-color: white;
    display: inline-block;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
    transition: .4s ease;
    margin: 0 5px;
}

footer .copyright a:hover{
    color: white;
    background-color: #fb774b;
}
footer .footer-two a{
    color: black;
    height: 40px;
    width: 40px;
    background-color: white;
    display: inline-block;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
    transition: .4s ease;
    margin: 0 5px;
}

footer .footer-two a:hover{
    color: white;
    background-color: #fb774b;
}

footer p{
    color: white;

}

.small-img-group{
    display: flex;
    justify-content: space-between;
}

.small-img-col{
    flex-basis: 25%;
    cursor: pointer;
}
.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}
.single-product input:focus{
    outline: none;
}

.single-product .buy-btn{
    background-color: #fb774b;
    opacity: 1;
    transition: .4s all;
}
.single-product .buy-btn:hover{
    background-color: #222222;
}


/*cart*/

.cart table{
    width: 100%;
    border-collapse: collapse;
}

.cart.product-info{
    display: flex;
    flex-wrap: wrap;
}

.cart th{
    text-align: left;
    padding: 5px 10px;
    color: white;
    background-color: #fb774b;
}

.cart td{
    padding: 10px 20px;
}

.cart td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.cart td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}

.cart td a{
    color: #fb774b;
    
}

.cart .remove-btn{
    color: #fb774b;
    text-decoration: none;
    font-size: 15px;
}

.cart .edit-btn{
    color: #fb774b;
    text-decoration: none;
    font-size: 15px;
}

.cart .product-info p{
    margin: 3px;
}

.cart-total{
    display: flex;
    justify-content: flex-end;
}

.cart-total table{
    width: 100%;
    max-width: 500px;
    border-top: 3px solid #fb774b;
}

td:last-child{
    text-align: right;
}

th:last-child{
    text-align: right;
}

.checkout-container{
    display: flex;
    justify-content: flex-end;
}

.checkout-btn{
   
    background-color: #fb774b;
    color: white;
}

/* Login*/
#login-form{
    width: 50%;
    margin: 5px auto;
    text-align: center;
    padding: 20px;
    border-top: 1px solid #fb774b;
}

#login-form input{
    width: 50%;
    margin: 5px auto;
}

#login-form #login-btn{
    background-color: #fb774b;
    color: whitesmoke;
}

#login-form #register-url{
    color: coral;
}


/* Register*/

#register-form{
    width: 50%;
    margin: 5px auto;
    text-align: center;
    padding: 20px;
    border-top: 1px solid #fb774b;
}

#register-form input{
    width: 50%;
    margin: 5px auto;
}

#register-form #register-btn{
    background-color: #fb774b;
    color: whitesmoke;
}

#register-form #login-url{
    color: coral;
}


/* Account */

#account-form{
    width: 50%;
    margin: 35px auto;
    text-align: center;
    padding: 20px;
}

#account-form input{
    margin: 5px auto;
}

#account-form #change-pass-btn{
    color: white;
    background-color: #fb774b;
}

.account-info #order-btn,#logout-btn{
    text-decoration: none;
    color: coral;
}


/*Order*/

.orders table{
    width: 100%;
    border-collapse: collapse;
}

.orders .product-info{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.orders th{
   
    padding: 5px 10px;
    color: whitesmoke;
    background-color: #fb774b;
    text-align: center;
}

.orders td{
    padding: 10px 20px;
    text-align: center;
}

.orders td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}


/*Checkout*/

#checkout-form .checkout-small-element{
    display: inline-block;
    width: 48%;
    margin: 10px auto;

}

#checkout-form .checkout-large-element{
    width: 96.5%;

}

#checkout-form .checkout-btn-container{
    margin: 10px;
    text-align: right;
    margin-right: 40px;

}

#checkout-form #checkout-btn{
    color: white;
    background-color: coral;
}